<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	  <class name="test_Scripts.RegisterTest"/>
      <class name="test_Scripts.LoginTest"/>
      <class name="test_Scripts.Dishes01Test"/>
      <class name="test_Scripts.Dishes02Test"/>
      <class name="test_Scripts.ViewMenuTest"/>
      <class name="test_Scripts.CheckOutTest"/>
      <class name="test_Scripts.PlaceOrderTest"/>
      <class name="test_Scripts.RemoveOrdersTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
